name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: write
  issues: write
  id-token: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Cache node modules
        uses: actions/cache@v5
        id: cache
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ./node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}

      - name: Install deps
        if: steps.cache.outputs.cache-hit != 'true'
        env:
          NPM_TOKEN: ${{ secrets.NPM_HELLO_CHARLES_AUTOMATION_TOKEN }}
        run: npm ci

      - name: Test
        run: npm run test:prod

      - name: Build
        run: npm run build

      - name: Publish new version
        env:
          GITHUB_TOKEN: ${{ secrets.CHARLES_RELEASER_PAT }}
          NPM_CONFIG_PROVENANCE: true
        run: |
          git config user.name "charles-platform"
          git config user.email "charles-platform@users.noreply.github.com"

          npm -g install npm@latest # Required by Trusted Publishing, min >= 11.5.1
          npm --version
          npm config set provenance true

          npm run semantic-release

      - name: Archive npm failure logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: npm-logs
          path: ~/.npm/_logs
